.mesh-gradient {
  background: rgba(var(--sys-color-primary), 1);
  background-image: radial-gradient(at 100% 100%, #a5b9f5 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f383b7 0px, transparent 50%),
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="2000" height="1400" viewBox="0 0 2000 1400"> <g > <g > <g > <g filter="url(#blur-filter)"> <rect x="-1000" y="-700" width="4000" height="2800" fill="#301179" /> <path d="M363 -379L-423 234L-130 1091L1172 792" fill="#684fa4"/><path d="M656 -268L213 1343L1294 1405L1777 691" fill="#684fa4"/><path d="M1686 384L1032 841L1773 1823L2465 1314" fill="#684fa4"/><path d="M424 347L-382 1048L1028 1855L1112 1278" fill="#684fa4"/><path d="M1634 1067L255 2233L1178 2672L1795 2552" fill="#684fa4"/><path d="M1167 1235L1011 1851L1882 2636L2489 1875" fill="#684fa4"/> </g> </g> </g> </g> <rect width="2000" height="1400" fill="#fff" filter="url(#noise-filter)" /> <defs> <filter id="noise-filter" x="-800px" y="-560px" width="2800px" height="1959.9999999999998px" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"> <feTurbulence type="fractalNoise" baseFrequency="0.18000000000000002" numOctaves="4" seed="15" stitchTiles="no-stitch" x="0" y="0" width="2000px" height="1400px" result="turbulence" > </feTurbulence> <feSpecularLighting surfaceScale="10" specularConstant="0.97" specularExponent="20" lighting-color="#fff" x="0" y="0" width="2000px" height="1400px" in="turbulence" result="specularLighting" > <feDistantLight azimuth="3" elevation="100"></feDistantLight> </feSpecularLighting> </filter> <filter id="blur-filter" x="-300.00000000000006" y="-300.00000000000006" width="2600" height="2000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB" > <feFlood flood-opacity="0" result="BackgroundImageFix" /> <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" /> <feGaussianBlur stdDeviation="300.00000000000006" result="effect1_foregroundBlur_1_2" /> </filter> </defs> </svg>');
}

.post-container {
  img {
    @apply dark:brightness-90 rounded-lg select-none my-10;
  }

  article {
    h2 {
      @apply text-2xl sm:text-4xl font-bold text-primary mt-10 mb-5 md:text-4xl;
    }

    code:not(pre code) {
      @apply italic brightness-75 text-lg rounded-sm font-mono selection:p-0;
    }

    a {
      @apply text-tertiary hover:brightness-50 font-bold;
    }

    p {
      @apply leading-7 text-xl my-5;
    }
  }
}
