<div class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      My posts
    </h2>
    <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
        See my latest posts thats I'm write.
    </h3>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-start gap-2 md:gap-8 w-full">
    {% for post in collections.blog | reverse %}
      <a href="{{ post.url }}" class="cursor-pointer lg:w-2/5 md:w-2/5 group rounded-md p-1 bg-surface brightness-125 shadow-md hover:shadow-lg transition-shadow">
        <div class="rounded-lg overflow-clip mb-2 brightness-75">
          {% image post.data.socialImage, post.data.socialImageAlt or "Cover post" %}
        </div>

        <div class="mx-4">
          <h2 style="letter-spacing: -0.03em" class="font-extrabold my-2 md:text-[2em] text-[2.5em] leading-none group-hover:text-primary transition-colors">
            {{ post.data.title }}
          </h2>
          <p class="leading-relaxed text-secondary mb-5">
            {{ post.data.description }}
          </p>

          <div class="flex flex-row justify-between w-full">
            <span class="flex flex-row gap-2 font-mono mb-2">
                <span>{{ post.data.type }}</span>
            </span>

            <span class="font-mono">{{ post.data.keywords }}</span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
