<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Post",
        "item": "{{ env.siteUrl }}/post"
      }
    ]
  }
</script>
