{% if env.production and site.googleAnalyticsKey %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsKey }}"></script>
  <script>
    {% set js %}
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ site.googleAnalyticsKey }}');
    {% endset %}
    {{ js | esbuild | safe }}
  </script>
{% endif %}
