{% set pageTitle = title + ' - ' + site.title %}

{% set currentUrl = env.siteUrl + page.url %}

{% if not description %}
  {% set description = site.description %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta charset="utf-8" />

<link rel="preload" as="script" href="main.js" fetchpriority="high" crossorigin />

{# <link rel="preload" as="style" href="main.css" fetchpriority="high" />
<link media="print" rel="stylesheet" href="main.css" onload="this.media='all';this.onload=null;"/> #}

<link rel="manifest" href="/manifest.webmanifest" />

<meta name="color-scheme" content="light dark" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ site.theme.light }}" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ site.theme.dark }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes, viewport-fit=cover" />

<meta name="application-name" content="{{ site.title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% set socialImage = sharing_image or thumbnail or hero or site.defaultSocialImage %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ socialImage }}" />
<meta property="og:image" content="{{ socialImage }}" />

{% if socialImageAlt %}
<meta property="og:image:alt" content="{{ alt }}" />
<meta name="twitter:image:alt" content="{{ alt }}" />
{% endif %}

<meta name="description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />

{% if social.twitter %}
<meta name="twitter:site" content="@{{ social.twitter }}" />
{% endif %}
<meta name="twitter:creator" content="@alidotmd" />

{% if authors %}
  <meta name="authors" content="{{ authors | sort }}" />
{% endif %}

{% if tags %}
  <meta name="tags" content="{{ tags | sort }}" />
{% endif %}

<link rel="icon" type="image/png" sizes="32x32" href="/img/meta/icon-32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/meta/icon-16.png" />

<!-- Add to home screen for Chrome on Android. Fallback for manifest.json -->
<meta name="mobile-web-app-capable" content="yes" />

<!-- Add to home screen for Safari on iOS -->
<link rel="apple-touch-icon" size="180x180" href="/img/meta/icon-180.png" />
<link rel="apple-touch-startup-image" size="192x192" href="/img/meta/icon-192.png" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />

<!-- Tile icon for Windows 8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/img/meta/icon-512.png" />
<meta name="msapplication-TileColor" content="{{ site.theme.light }}" />
<meta name="msapplication-tap-highlight" content="no" />
