<main class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      My posts
    </h2>
    <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
        See my latest posts thats I'm write.
    </h3>
  </div>
  <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 w-full">
    {% for post in collections.post %}
      <a href="{{ post.url }}" class="py-5 cursor-pointer lg:w-2/5 medium:w-2/5 group">

        <div class="mesh-gradient flex flex-col flex-wrap justify-center items-center p-5 mb-4 text-center group-hover:drop-shadow-lg rounded-lg overflow-clip transition">
          <h2 style="letter-spacing: -0.03em" class="title font-extrabold mx-4 my-8 md:text-[2em] text-[2.5em] leading-none text-white">
            {{ post.data.title }}
          </h2>
        </div>

        <p class="leading-relaxed text-secondary mb-1">
          {{ post.data.description }}
        </p>

        <div class="flex flex-row flex-wrap w-full gap-1 text-center">
          {% for tag in post.data.keywords %}
            <div>
              <div class="font-mono inline-flex p-1 rounded leading-4 text-onTertiary bg-tertiary" style="font-size: 0.7em">{{ tag }}</div>
            </div>
          {% endfor %}
        </div>
      </a>
    {% endfor %}
  </div>
</main>
