---
permalink: /manifest.webmanifest
---
{
  "short_name": "{{ site.title }}",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "start_url": "/",
  "display": "standalone",
  "theme_color": "{{ site.theme.light }}",
  "background_color": "{{ site.theme.splashBackground }}",
  "orientation": "{{ site.orientation | default('any') }}",
  "default_locale": "{{ site.locale }}",
  "icons": [
    {"src": "/img/meta/icon-192-maskable.png", "type": "image/png", "sizes": "192x192", "purpose": "maskable"},
    {"src": "/img/meta/icon-512-maskable.png", "type": "image/png", "sizes": "512x512", "purpose": "maskable"},
    {"src": "/img/meta/icon-192.png", "type": "image/png", "sizes": "192x192"},
    {"src": "/img/meta/icon-512.png", "type": "image/png", "sizes": "512x512"}
  ],
  "screenshots": [
    {
      "src": "/img/meta/screenshot-1.jpg",
      "sizes": "414x896",
      "type": "image/jpg",
      "label": "{{ site.title }}"
    },
    {
      "src": "/img/meta/screenshot-2.jpg",
      "sizes": "414x896",
      "type": "image/jpg",
      "label": "{{ site.title }}"
    }
  ]
}
