---
permalink: /script-0.js
eleventyExcludeFromCollections: true
---
{% set js %}
  {% include "./_js/banner.js" %}
  {% include "./_js/register-service-worker.js" %}
{% endset %}

{{ js | esbuild | safe }}
