---
title: Home
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---
<main class="flex flex-col lg:flex-row space-y-16 lg:space-y-0 text-center lg:text-left container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="lg:w-1/2 lg:flex lg:items-center">
    <div>
      <div class="font-semibold inline-flex px-2 py-1 leading-4 mb-2 text-sm rounded text-gray-700 bg-gray-200">
          built with eleventy!
        </div>
      <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
          Next generation <span class="text-yellow-500">website builder</span>
      </h2>
      <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
          Super fast and easy to use software to power your next idea or build your client’s web projects. Get it today and profit.
        </h3>
      <div class="flex flex-col sm:flex-row sm:items-center justify-center lg:justify-start space-y-2 sm:space-y-0 sm:space-x-2 pt-10 pb-16">
        <a href="javascript:void(0)" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-yellow-500 bg-yellow-500 text-white hover:text-white hover:bg-amber-600 hover:border-yellow-300 focus:ring focus:ring-yellow-700 focus:ring-opacity-50 active:bg-yellow-500 active:border-yellow-500">
          <svg class="hi-solid hi-lightning-bolt inline-block w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"/>
          </svg>
          <span>See our work</span>
        </a>
        <a href="javascript:void(0)" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-gray-300 bg-white text-gray-800 shadow-sm hover:text-gray-800 hover:bg-gray-100 hover:border-gray-300 hover:shadow focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-white active:border-white active:shadow-none">
          <span>Learn more</span>
        </a>
      </div>
    </div>
  </div>
  <div class="lg:w-1/2 lg:ml-16 lg:flex lg:justify-center lg:items-center">
    <div class="lg:w-96 mx-5 relative">
      <div class="absolute pattern-dots-xl text-amber-100 top-0 left-0 w-32 h-48 md:h-96 transform -translate-y-12 -translate-x-16 -rotate-3"></div>
      <div class="absolute pattern-dots-xl text-amber-100 bottom-0 right-0 w-32 h-48 md:h-96 transform translate-y-12 translate-x-16 rotate-3"></div>
      <div class="absolute inset-0 rounded-xl bg-amber-100 bg-opacity-50 -m-4 transform rotate-2"></div>
      <div class="absolute inset-0 rounded-xl bg-amber-200 bg-opacity-50 -m-4 transform -rotate-2"></div>
      <img src="/img/hero.jpg" alt="Hero Image" class="relative rounded-lg mx-auto shadow-lg"/>
    </div>
  </div>
</main>
