<!DOCTYPE html>
<html lang="{{ site.locale }}" dir="{{ site.dir }}">
  <head>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/style.css?v={{ git.shortSha }}">
  </head>

  <body class="bg-white text-black font-vazirmatn">
    {% include "header.njk" %}
    {% include "navigation-drawer.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}

    <script src="/script.js?v={{ git.shortSha }}"></script>
    {% include "google-analytics.njk" %}
  </body>
</html>
