<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include "meta.njk" %}
  <style>
    body {
      padding: 0;
    }
  </style>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {% include "header.njk" %}
  {% include "nav.njk" %}

  {{ content | safe }}

  {% include "footer.njk" %}
</body>
<script src="/script.js"></script>
</html>
