---
layout: base.njk
---
<main class="p-10 mt-12 lg:px-48 box-border">
  <div class="flex flex-row gap-2 mb-2">
    <span class="text-primary font-mono">{{ type }}</span>
  </div>

  <h1 class="text-titleLarge md:text-7xl lg:text-6xl font-black leading-none text-onBackground">
    {{ title }}
  </h1>
  <p class="mt-4 font-mono">{{ description }}</p>
  <div class="dark:brightness-90 rounded-lg overflow-clip select-none my-10 text-center drop-shadow-lg [&_img]:w-full">
    {% image socialImage, socialImageAlt or "Cover post" %}
  </div>

  <div class="flex flex-row justify-between items-center text-secondary font-mono">
    {% if author.name %}
    <span class="flex flex-row gap-4 items-center">
      <span class="avatar rounded-full overflow-hidden object-cover w-10 h-10 [&_img]:w-full [&_img]:h-full">
        {% image author.avatar, "Author avatar" %}
      </span>
      <p class="font-bold">{{ author.name }}</p>
    </span>
    {% endif %}

    <p class="whitespace-nowrap border-l border-inherit pl-4">{{ page.date | humanReadableDate }}</p>
  </div>

  <hr class="mt-4">

  <article class="blog-post-container relative mx-auto max-w-8xl flex justify-center sm:px-2 lg:px-8 xl:px-12">
    <div class="content">
      {{ content | safe }}
    </div>

    {% if content | toc %}
      <aside id="table-of-content" class="table-of-content hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
        <a href="#table-of-content"><h2 class="font-display text-md font-bold text-secondary">On this page</h2></a>
        {{ content | toc | safe }}
      </aside>
    {% endif %}
  </article>

<div class="mx-auto max-w-8xl flex justify-between sm:px-2 lg:px-8 xl:px-12">
  <a class="" href="{% editOnGitHub page %}" target="_blank">
    <svg class="inline-block" fill="currentColor" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M200-12q-33 0-56.5-23.5T120-92v-560q0-33 23.5-56.5T200-732h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-12H200Zm280-360Zm167-337 57 56-264 264v57h56l265-265 57 56-288 289H360v-170l287-287Zm171 168L647-709l100-100q24-24 57.5-24t56.5 24l56 57q23 23 23 56t-23 56l-99 99Z"/></svg>
    <span class="inline-block align-middle">Improve this page</span>
  </a>

  <span class="font-mono">
    Tags: <span>{{ keywords }}</span>
  </span>
</div>

</main>

{% include "structured-data/blog.njk" %}
